In [1]:
#Bagthariya Mahek
#216270307080
#Practical No.11: Write a Pandas program to filter all columns where all entries present, check which rows and columns has a NaN and finally drop rows with any NaNs from the given dataset.

import pandas as pd
w_a_con = pd.read_csv(r'/kaggle/input/nifty50-stock-market-data/ASIANPAINT.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print("\nFind  all columns which all entries present:")
print(w_a_con.loc[:, w_a_con.notnull().all()])
print("\nRows and columns has a NaN:")
print(w_a_con.loc[:,w_a_con.isnull().any()])
print("\nDrop rows with any NaNs:")
print(w_a_con.dropna(how='any'))

World alcohol consumption sample data:
         Date      Symbol Series  Prev Close   Open   High    Low   Last  \
0  2000-01-03  ASIANPAINT     EQ      361.20  370.0  390.0  370.0  385.0
1  2000-01-04  ASIANPAINT     EQ      381.65  380.0  392.0  375.0  390.0
2  2000-01-05  ASIANPAINT     EQ      385.55  371.5  390.0  371.5  383.0
3  2000-01-06  ASIANPAINT     EQ      383.00  384.9  384.9  374.5  375.1
4  2000-01-07  ASIANPAINT     EQ      377.50  376.0  390.0  370.0  389.0

    Close    VWAP  Volume      Turnover  Trades  Deliverable Volume  \
0  381.65  380.54    3318  1.262617e+11     NaN                 NaN
1  385.55  383.50    4818  1.847699e+11     NaN                 NaN
2  383.00  379.81    2628  9.981384e+10     NaN                 NaN
3  377.50  379.88    3354  1.274114e+11     NaN                 NaN
4  385.70  383.38    9589  3.676275e+11     NaN                 NaN

   %Deliverble
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

Find  all columns which all entries present:
            Date      Symbol Series  Prev Close    Open     High      Low  \
0     2000-01-03  ASIANPAINT     EQ      361.20   370.0   390.00   370.00
1     2000-01-04  ASIANPAINT     EQ      381.65   380.0   392.00   375.00
2     2000-01-05  ASIANPAINT     EQ      385.55   371.5   390.00   371.50
3     2000-01-06  ASIANPAINT     EQ      383.00   384.9   384.90   374.50
4     2000-01-07  ASIANPAINT     EQ      377.50   376.0   390.00   370.00
...          ...         ...    ...         ...     ...      ...      ...
5301  2021-04-26  ASIANPAINT     EQ     2517.95  2530.0  2575.00  2530.00
5302  2021-04-27  ASIANPAINT     EQ     2557.90  2545.0  2579.90  2534.00
5303  2021-04-28  ASIANPAINT     EQ     2574.35  2588.0  2620.25  2575.00
5304  2021-04-29  ASIANPAINT     EQ     2614.55  2630.0  2642.00  2570.00
5305  2021-04-30  ASIANPAINT     EQ     2613.45  2595.0  2605.80  2524.05

        Last    Close     VWAP   Volume      Turnover
0      385.0   381.65   380.54     3318  1.262617e+11
1      390.0   385.55   383.50     4818  1.847699e+11
2      383.0   383.00   379.81     2628  9.981384e+10
3      375.1   377.50   379.88     3354  1.274114e+11
4      389.0   385.70   383.38     9589  3.676275e+11
...      ...      ...      ...      ...           ...
5301  2558.0  2557.90  2557.47  1103980  2.823400e+14
5302  2571.0  2574.35  2560.55   866331  2.218288e+14
5303  2612.0  2614.55  2605.91  1065561  2.776752e+14
5304  2613.0  2613.45  2607.33  1295346  3.377394e+14
5305  2529.0  2536.40  2558.66  1384907  3.543512e+14

[5306 rows x 12 columns]

Rows and columns has a NaN:
       Trades  Deliverable Volume  %Deliverble
0         NaN                 NaN          NaN
1         NaN                 NaN          NaN
2         NaN                 NaN          NaN
3         NaN                 NaN          NaN
4         NaN                 NaN          NaN
...       ...                 ...          ...
5301  58557.0            335232.0       0.3037
5302  66988.0            281178.0       0.3246
5303  52622.0            449241.0       0.4216
5304  64039.0            447979.0       0.3458
5305  91934.0            750496.0       0.5419

[5306 rows x 3 columns]

Drop rows with any NaNs:
            Date      Symbol Series  Prev Close     Open     High      Low  \
2850  2011-06-01  ASIANPAINT     EQ     3133.40  3145.10  3194.00  3061.50
2851  2011-06-02  ASIANPAINT     EQ     3169.35  3159.00  3171.80  3087.00
2852  2011-06-03  ASIANPAINT     EQ     3105.05  3105.05  3190.00  3099.95
2853  2011-06-06  ASIANPAINT     EQ     3167.80  3160.20  3188.85  3141.25
2854  2011-06-07  ASIANPAINT     EQ     3170.05  3170.10  3229.80  3155.00
...          ...         ...    ...         ...      ...      ...      ...
5301  2021-04-26  ASIANPAINT     EQ     2517.95  2530.00  2575.00  2530.00
5302  2021-04-27  ASIANPAINT     EQ     2557.90  2545.00  2579.90  2534.00
5303  2021-04-28  ASIANPAINT     EQ     2574.35  2588.00  2620.25  2575.00
5304  2021-04-29  ASIANPAINT     EQ     2614.55  2630.00  2642.00  2570.00
5305  2021-04-30  ASIANPAINT     EQ     2613.45  2595.00  2605.80  2524.05

         Last    Close     VWAP   Volume      Turnover   Trades  \
2850  3170.00  3169.35  3156.21   192349  6.070944e+13  11665.0
2851  3110.05  3105.05  3133.25   211697  6.633002e+13   6690.0
2852  3181.00  3167.80  3153.77    83355  2.628821e+13   5398.0
2853  3169.50  3170.05  3163.77    46291  1.464539e+13   4838.0
2854  3196.00  3206.15  3202.18    82014  2.626232e+13   8868.0
...       ...      ...      ...      ...           ...      ...
5301  2558.00  2557.90  2557.47  1103980  2.823400e+14  58557.0
5302  2571.00  2574.35  2560.55   866331  2.218288e+14  66988.0
5303  2612.00  2614.55  2605.91  1065561  2.776752e+14  52622.0
5304  2613.00  2613.45  2607.33  1295346  3.377394e+14  64039.0
5305  2529.00  2536.40  2558.66  1384907  3.543512e+14  91934.0

      Deliverable Volume  %Deliverble
2850             89136.0       0.4634
2851            169251.0       0.7995
2852             45782.0       0.5492
2853             20367.0       0.4400
2854             27403.0       0.3341
...                  ...          ...
5301            335232.0       0.3037
5302            281178.0       0.3246
5303            449241.0       0.4216
5304            447979.0       0.3458
5305            750496.0       0.5419

[2456 rows x 15 columns]